* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #368AFF;
}



/* I. контейнер 1-й секции */
.section-1 {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.subsection-1-1 {
    width: 100%;
    line-height: 0;
}

.logo-container img {
    width: 100%;
    height: auto;
    display: block;
}
