* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #368AFF;
    overflow-x: hidden;
}



/* I. СЕКЦИЯ : СТРУКТУРА */
.section-1 {
    width: 100%;
    display: flex;
    flex-direction: column;
}



/* I.I подсекция : выбор планеты */
.subsection-1-1 {
    width: 100%;
    line-height: 0;
}



/* 0. лого */
.logo-container img {
    width: 100%;
    height: auto;
    display: block;
}



/* 1. рабочая область под космолаб */
.workspace-wrapper {
    position: relative;
    width: 100vw;
    height: 60vw;
    margin-top: 4vw;
    display: flex;
    justify-content: center;
}

/* 1.1 крулая обводка планет */
.circle-layer {
    position: absolute;
    width: 55vw;
    z-index: 1;
    margin-left: 7vw;
}
.circle-layer img {
    width: 100%;
    height: auto;
    display: block;
}


/* 1.2 планеты */
.planet-layer {
    position: absolute;
    width: 55vw;
    z-index: 2;
    margin-left: 7vw;
    top: 25%;
    transform: translateY(-25%);
    pointer-events: none;
}
.planet-img {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.planet-img.active { opacity: 1; }



/* — правый сайдбар */
.sidebar-left {
    position: absolute;
    left: 2vw;
    top: 20vw;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 1.5vw; 
}

/* 2. сообщения */
.message-box {
    background-color: #4891FF;
    border-radius: 1.5vw; 
    width: 21vw; 
    padding: 1.5vw;
}
.message-content {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

/* 2.1 основной текст соо */
.message-text {
    font-family: 'Roboto Mono', monospace;
    font-size: 1vw;
    line-height: 1.3;
    text-transform: uppercase;

    /* стиль шрифта для mac/ios */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* 2.2 перегородка */
.divider {
    width: 50%;
    height: 0.09vw;
}

/* 2.3 футер текст соо */
.message-footer {
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto Mono', monospace;
    font-size: 1vw;
    line-height: 1.3;

    /* стиль шрифта для mac/ios */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* 2.4 цвет элементов */
.variant-black { color: #000000; }
.variant-black .divider { background-color: #000000; }

.variant-white { color: #FFFFFF; }
.variant-white .divider { background-color: #FFFFFF; }




/* 3. перегородка между соо и кнопками */
.sidebar-divider {
    width: 21vw;
    height: 0.09vw;
    background-color: #FFFFFF;
    margin: 4.5vw 0;
}



/* 4. кнопочки */
.planet-switcher {
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.planet-btn {
    width: 21vw;
    padding: 2vw 0;
    border: none;
    border-radius: 1.5vw;

    font-family: 'Roboto Mono', monospace;
    font-weight: 400; 
    font-size: 1.6vw;
    text-transform: uppercase;
    
    cursor: pointer;
    transition: all 0.2s ease;
    color: #76ADFF; 

    /* стиль шрифта для mac/ios */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* 4.0 состояние : активная (вжатая) */
.planet-btn.active {
    background-color: #8FC2FF;
    color: #FFFFFF;
    box-shadow: 
        inset  0.15vw  0.15vw 0.3vw #6092CE, 
        inset -0.15vw -0.15vw 0.3vw #A9D4F9;
}

/* 4.0 состояние : неактивная (выпуклая) */
.planet-btn {
    background-color: #4891FF;
    box-shadow: 
        -0.2vw -0.2vw 0.3vw #4BAAFF, 
         0.15vw  0.15vw 0.4vw #116BE7;
}

/* 4.0 ховер для текста неактивной кнопочки */
.planet-btn:not(.active):hover {
    color: #FFFFFFCC; 
}



/* — правый сайдбар */
.sidebar-right {
    position: absolute;
    right: 2vw;
    top: 20vw;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

/* 6. навигация */
.nav-box {
    border: 0.09vw solid #87BBFF;
    border-radius: 1.5vw;
    width: 13vw;
    padding: 1.5vw 1vw;
    display: flex;
    justify-content: center;
}
.nav-content {
    display: flex;
    flex-direction: column;
    gap: 1vw; 
    align-items: center;
    text-align: center;
    width: 100%;
}
.nav-item {
    font-family: 'Roboto Mono', monospace;
    font-size: 1vw;
    line-height: 1.3;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
}

/* 6.0 цвета текстов */
.title-black { color: #000000; }
.active-white { color: #FFFFFF; }
.inactive-blue { color: #87BBFF; }
.selected-display { color: #FFFFFF; }

/* 6.0 перегородки */
.nav-divider {
    width: 90%;
    height: 0.09vw;
    background-color: #87BBFF;
}

/* 6.1 превьюшка планеты */
.nav-planet-preview {
    position: relative;
    width: 9vw;
    height: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-preview-img {
    position: absolute;
    width: 100%;
    height: auto;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.nav-preview-img.active { opacity: 1; }



/* 7. график */
.graph-container {
    width: 13vw;
    height: 30vw; 
    overflow: hidden;
    border-radius: 1.5vw;
    background-color: #4891FF;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.graph-video {
    width: 32vw; 
    object-fit: cover;
    border-radius: 3vw;
    transform: rotate(90deg);
    position: absolute;
}